# Database (Redis & PostgreSQL)
redis>=5.0.1
asyncpg==0.31.0

# ORM for database (SQLAlchemy)
sqlalchemy[asyncio]>=2.0.0

# Websocket server (FastAPI + Uvicorn)
fastapi[standard]<0.137.0

# Pydantic
pydantic>=2.6.0

# Instrumentator(monitoring)
prometheus-fastapi-instrumentator==7.0.0