#For Dockerfiles
#Dependencies needed (latest stable version, currently using Python 3.14.6)

# Installation needed:
# Websockets
websockets==17.0.1

# FROM python latest version
# pip
# pip install websockets
# pip install websocket_client
# Copy the file 'ingest-test.py' somewhere to execute it
# And then run the file with "python file.py"
# Database (Redis & PostgreSQL)
redis==8.10.0
asyncpg==0.31.0
psycopg2-binary==2.9.12